<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}[%L]): %msg%n%throwable
            </pattern>
        </layout>
    </appender>
    
    <logger name="com.loserico.search.ElasticUtils" level="debug"/>
    <logger name="com.loserico.search.builder.ElasticQueryBuilder" level="debug"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
